@model lab.ngdemo.Models.Employee
<div class="form-group">
    <label for="emp_emailaddress">Email address:</label>
    @Html.DisplayFor(model => model.emp_emailaddress)
</div>
<div class="form-group">
    <label for="emp_name">Name:</label>
    @Html.DisplayFor(model => model.emp_name)
</div>