@{
    ViewBag.Title = "Index";
}
<div id="employee-list">
    <h2>
        Employee ngGrid Sample
    </h2>
    <p>
        
        <a href="@Url.Action("Create", "Employee")" class="lnkAppModal btn btn-default" data-modal-icon="fa fa-tasks" data-modal-title="Add Employee" id="btnAddEmployee" title='Add'>Create</a>

    </p>
</div>
<script src="@Url.Content("~/Scripts/App/Employee.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {

        Employee.init();

    });

</script>



